n8n_workflows/webflow_product_attribute_filter_sync.json
{
  "name": "ERPNext → Webflow Product-Attribute Reference Sync",
  "nodes": [
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "hours",
              "hoursInterval": 6
            }
          ]
        }
      },
      "id": "schedule-trigger",
      "name": "Every 6 Hours",
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.2,
      "position": [
        0,
        0
      ]
    },
    {
      "parameters": {},
      "id": "manual-trigger",
      "name": "Manual Trigger",
      "type": "n8n-nodes-base.manualTrigger",
      "typeVersion": 1,
      "position": [
        0,
        200
      ]
    },
    {
      "parameters": {
        "method": "GET",
        "url": "https://illumenatelighting.v.frappe.cloud/api/method/illumenate_lighting.illumenate_lighting.api.webflow_attributes.get_product_attribute_references",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendQuery": true,
        "queryParameters": {
          "parameters": [
            {
              "name": "limit",
              "value": "100"
            },
            {
              "name": "brand",
              "value": "={{ $('Set Brand').item.json.brand }}"
            }
          ]
        },
        "options": {}
      },
      "id": "fetch-products",
      "name": "Fetch Products with Attribute Refs",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        300,
        100
      ],
      "credentials": {
        "httpHeaderAuth": {
          "id": "erpnext-api-key",
          "name": "ERPNext API Key"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict"
          },
          "conditions": [
            {
              "id": "check-has-products",
              "leftValue": "={{ $json.message.total }}",
              "rightValue": 0,
              "operator": {
                "type": "number",
                "operation": "gt"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "has-products",
      "name": "Has Products?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [
        525,
        100
      ]
    },
    {
      "parameters": {
        "fieldToSplitOut": "message.products",
        "options": {}
      },
      "id": "split-products",
      "name": "Split Products",
      "type": "n8n-nodes-base.splitOut",
      "typeVersion": 1,
      "position": [
        750,
        25
      ]
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "loose"
          },
          "conditions": [
            {
              "id": "check-has-refs",
              "leftValue": "={{ $json.attribute_count }}",
              "rightValue": 0,
              "operator": {
                "type": "number",
                "operation": "gt"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "has-attribute-refs",
      "name": "Has Resolved Attributes?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [
        975,
        25
      ]
    },
    {
      "parameters": {
        "jsCode": "// Build the Webflow PATCH payload for plain-text attribute filter fields.\n// ERPNext provides comma-separated attribute names for each filter field.\nconst product = $input.item.json;\nconst filterData = product.filter_field_data || {};\n\n// Build fieldData with only the filter fields that have values\nconst fieldData = {};\nfor (const [slug, text] of Object.entries(filterData)) {\n  if (text) {\n    fieldData[slug] = text;\n  }\n}\n\n// Include last-synced timestamp\nfieldData['last-synced'] = new Date().toISOString();\n\nconst webflowData = {\n  fieldData: fieldData\n};\n\nreturn {\n  json: {\n    webflowData,\n    product_slug: product.product_slug,\n    webflow_item_id: product.webflow_item_id,\n    attribute_count: product.attribute_count,\n    _debug: {\n      filterData,\n      fieldSlugsUsed: Object.keys(fieldData)\n    }\n  }\n};"
      },
      "id": "build-payload",
      "name": "Build Webflow Payload",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1200,
        -50
      ]
    },
    {
      "parameters": {
        "method": "PATCH",
        "url": "=https://api.webflow.com/v2/collections/{{ $('Get Brand Config').item.json.message.products_collection_id }}/items/{{ $json.webflow_item_id }}",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify($json.webflowData) }}",
        "options": {}
      },
      "id": "webflow-update",
      "name": "Webflow: Update Product Filters",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        1425,
        -50
      ],
      "credentials": {
        "httpHeaderAuth": {
          "id": "webflow-api-token",
          "name": "Webflow API Token"
        }
      }
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://illumenatelighting.v.frappe.cloud/api/method/illumenate_lighting.illumenate_lighting.api.webflow_export.mark_webflow_synced",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"product_slug\": \"{{ $('Build Webflow Payload').item.json.product_slug }}\",\n  \"webflow_item_id\": \"{{ $json.id }}\",\n  \"webflow_collection_slug\": \"products\",\n  \"brand\": \"{{ $('Set Brand').item.json.brand }}\"\n}",
        "options": {}
      },
      "id": "mark-synced",
      "name": "Mark Synced",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        1650,
        -50
      ],
      "credentials": {
        "httpHeaderAuth": {
          "id": "erpnext-api-key",
          "name": "ERPNext API Key"
        }
      }
    },
    {
      "parameters": {
        "content": "## ERPNext → Webflow Product-Attribute Filter Sync\n\nThis workflow syncs plain-text filter fields between Products\nand Attribute types in Webflow CMS.\n\nExisting display fields (cct-options-5, finishes-5, etc.) are\nNOT affected. The -filter fields are separate and contain\ncomma-separated attribute names for CMS filtering.\n\n### How it works:\n1. Fetches products that are already in Webflow (have webflow_item_id)\n2. For each product, ERPNext builds comma-separated attribute name\n   strings for each filter field\n3. Sends PATCH requests to update filter fields on each\n   product in Webflow\n\n### Prerequisites:\n- Products must be synced to Webflow first (via product sync workflow)\n- Webflow product filter fields must be configured as Plain Text type\n\n### Filter Fields Synced:\n- cri-filter → CRI names\n- finish-filter → Finish names\n- lens-filter → Lens Appearance names\n- mounting-filter → Mounting Method names\n- output-levels-filter → Output Level names\n- environment-ratings-filter → Environment Rating names\n- feed-direction-filter → Feed Direction names\n- led-package-filter → LED Package names\n- dimming-filter → Dimming Protocol names\n\n### Credentials Required:\n1. **ERPNext API Key** (Header Auth)\n2. **Webflow API Token** (Header Auth)\n\n### Products Collection: 696fc3c5c42c86528e97f413",
        "height": 520,
        "width": 420
      },
      "id": "sticky-note",
      "name": "Setup Instructions",
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        -450,
        -150
      ]
    },
    {
      "parameters": {
        "content": "## Skipped\nProducts with no attribute links are skipped.\n\nCommon reasons:\n- No attribute links on the product",
        "height": 160,
        "width": 250
      },
      "id": "skip-note",
      "name": "Skip Note",
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        975,
        175
      ]
    },
    {
      "parameters": {
        "values": {
          "string": [
            {
              "name": "brand",
              "value": "illumenate"
            }
          ]
        },
        "options": {}
      },
      "id": "ill-set-brand-node",
      "name": "Set Brand",
      "type": "n8n-nodes-base.set",
      "typeVersion": 1,
      "position": [
        17760,
        5824
      ]
    },
    {
      "parameters": {
        "url": "https://illumenatelighting.v.frappe.cloud/api/method/illumenate_lighting.illumenate_lighting.api.webflow_brand.get_brand_config",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "erpNextApi",
        "sendQuery": true,
        "queryParameters": {
          "parameters": [
            {
              "name": "brand",
              "value": "={{ $json.brand }}"
            }
          ]
        },
        "options": {}
      },
      "id": "ill-get-brand-config-node",
      "name": "Get Brand Config",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        17968,
        5824
      ],
      "credentials": {
        "erpNextApi": {
          "id": "q5FbtRYh73x4yYeZ",
          "name": "Webflow Marketing API"
        }
      }
    },
    {
      "parameters": {
        "content": "## Multi-brand setup\n\n**Brand:** Set in the 'Set Brand' node (default illumenate).\n\nCollection IDs and credentials are resolved per-brand via the 'Get Brand Config' HTTP node calling webflow_brand.get_brand_config.\n\n**To run for lighting_206:**\n1. Edit 'Set Brand' â \brand = lighting_206, OR clone the workflow and change the value there.\n2. Swap the credential on the Webflow HTTP nodes to the brand-specific credential (e.g. webflow-lighting_206). Expression-driven credentials are not supported on this node type â manual swap or workflow-clone is required.\n3. The configurator payload is auto-stripped server-side when include_configurator_payload=0 on the brand record. The product Transform node also has a defense-in-depth guard.\n",
        "height": 380,
        "width": 350
      },
      "id": "ill-multibrand-sticky",
      "name": "Multi-Brand Setup Notes",
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        17280,
        5568
      ]
    }
  ],
  "connections": {
    "Every 6 Hours": {
      "main": [
        [
          {
            "node": "Set Brand",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Manual Trigger": {
      "main": [
        [
          {
            "node": "Set Brand",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Set Brand": {
      "main": [
        [
          {
            "node": "Get Brand Config",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get Brand Config": {
      "main": [
        [
          {
            "node": "Fetch Products with Attribute Refs",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Fetch Products with Attribute Refs": {
      "main": [
        [
          {
            "node": "Has Products?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Has Products?": {
      "main": [
        [
          {
            "node": "Split Products",
            "type": "main",
            "index": 0
          }
        ],
        []
      ]
    },
    "Split Products": {
      "main": [
        [
          {
            "node": "Has Resolved Attributes?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Has Resolved Attributes?": {
      "main": [
        [
          {
            "node": "Build Webflow Payload",
            "type": "main",
            "index": 0
          }
        ],
        []
      ]
    },
    "Build Webflow Payload": {
      "main": [
        [
          {
            "node": "Webflow: Update Product Filters",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Webflow: Update Product Filters": {
      "main": [
        [
          {
            "node": "Mark Synced",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "pinData": {},
  "settings": {
    "executionOrder": "v1"
  },
  "staticData": null,
  "tags": [
    {
      "name": "webflow",
      "createdAt": "2026-02-10T00:00:00.000Z",
      "updatedAt": "2026-02-10T00:00:00.000Z"
    },
    {
      "name": "erpnext",
      "createdAt": "2026-02-10T00:00:00.000Z",
      "updatedAt": "2026-02-10T00:00:00.000Z"
    },
    {
      "name": "attributes",
      "createdAt": "2026-02-10T00:00:00.000Z",
      "updatedAt": "2026-02-10T00:00:00.000Z"
    }
  ],
  "triggerCount": 0,
  "updatedAt": "2026-02-10T00:00:00.000Z",
  "versionId": "1"
}