n8n_workflows/webflow_product_sync.json
{
  "name": "ERPNext → Webflow Product Sync",
  "nodes": [
    {
      "parameters": {},
      "id": "fe37c29f-5ed1-4c62-ad30-e09a5b852dbb",
      "name": "Manual Trigger",
      "type": "n8n-nodes-base.manualTrigger",
      "typeVersion": 1,
      "position": [
        18016,
        5824
      ]
    },
    {
      "parameters": {
        "url": "https://illumenatelighting.v.frappe.cloud/api/method/illumenate_lighting.illumenate_lighting.api.webflow_export.get_webflow_products",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "erpNextApi",
        "sendQuery": true,
        "queryParameters": {
          "parameters": [
            {
              "name": "sync_status",
              "value": "needs_sync"
            },
            {
              "name": "limit",
              "value": "50"
            },
            {
              "name": "include_child_tables",
              "value": "true"
            }
          ]
        },
        "options": {}
      },
      "id": "6ced0326-49da-40e1-8600-52dcb3beea2d",
      "name": "Fetch Products from ERPNext",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        18272,
        5744
      ],
      "credentials": {
        "httpHeaderAuth": {
          "id": "FzwOrMRItFSHynOa",
          "name": "Postmark Server Token"
        },
        "erpNextApi": {
          "id": "q5FbtRYh73x4yYeZ",
          "name": "Webflow Marketing API"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 1
          },
          "conditions": [
            {
              "id": "check-has-products",
              "leftValue": "={{ $json.message.total }}",
              "rightValue": 0,
              "operator": {
                "type": "number",
                "operation": "gt"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "1488193b-98fc-4a03-bd8e-5c971d2a0ee4",
      "name": "Has Products to Sync?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [
        18496,
        5744
      ]
    },
    {
      "parameters": {
        "fieldToSplitOut": "message.products",
        "options": {}
      },
      "id": "e17f9dc8-1028-4c66-900f-b1dd9c0d3e7e",
      "name": "Split Products",
      "type": "n8n-nodes-base.splitOut",
      "typeVersion": 1,
      "position": [
        18720,
        5680
      ]
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 1
          },
          "conditions": [
            {
              "id": "check-has-webflow-id",
              "leftValue": "={{ $json.webflow_item_id }}",
              "rightValue": "",
              "operator": {
                "type": "string",
                "operation": "notEmpty"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "e0d565d4-132c-4c14-be88-a6e65887567b",
      "name": "Exists in Webflow?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [
        18944,
        5680
      ]
    },
    {
      "parameters": {
        "mode": "runOnceForEachItem",
        "jsCode": "// Transform ERPNext product to Webflow format - FULL DATA SYNC\nconst product = $input.item.json;\nconst isUpdate = product.webflow_item_id ? true : false;\n\n// ============================================\n// FEATURE FLAGS\n// ============================================\n// Set to true AFTER creating the corresponding fields in your Webflow\n// Products collection (CMS Designer).  Until then, keep false to avoid\n// \"Field not described in schema\" 400 errors from Webflow.\nconst INCLUDE_ATTRIBUTE_DISPLAY_FIELDS = false; // e.g. finishes-5, cct-options-5\nconst INCLUDE_ATTRIBUTE_FILTER_FIELDS  = false; // e.g. finish-filter, cri-filter\nconst INCLUDE_CATEGORY_REF_FIELD       = false; // category-filter (ItemRef)\n\n// ============================================\n// URL HELPERS\n// ============================================\nconst ERPNEXT_BASE_URL = 'https://illumenatelighting.v.frappe.cloud';\n\nconst makeAbsoluteUrl = (url) => {\n  if (!url) return null;\n  let fullUrl = url;\n  if (!url.startsWith('http://') && !url.startsWith('https://')) {\n    fullUrl = url.startsWith('/') ? `${ERPNEXT_BASE_URL}${url}` : `${ERPNEXT_BASE_URL}/${url}`;\n  }\n  // Encode spaces and brackets in the path portion so Webflow can fetch the file\n  const qIdx = fullUrl.indexOf('?');\n  const path = qIdx >= 0 ? fullUrl.substring(0, qIdx) : fullUrl;\n  const qs   = qIdx >= 0 ? fullUrl.substring(qIdx) : '';\n  const encoded = path.replace(/ /g, '%20').replace(/\\[/g, '%5B').replace(/\\]/g, '%5D');\n  return encoded + qs;\n};\n\n\nconst isValidImageUrl = (url) => {\n  if (!url) return false;\n  if (url.includes('/private/')) return false;\n  if (!url.startsWith('http://') && !url.startsWith('https://')) return false;\n  return true;\n};\n\nconst isValidFileUrl = (url) => {\n  if (!url) return false;\n  if (url.includes('/private/')) return false;\n  return true;\n};\n\n// ============================================\n// ATTRIBUTE FILTER FIELDS\n// ============================================\n// ERPNext provides pre-built plain-text filter data via filter_field_data.\n// Filter fields contain comma-separated attribute names for Webflow CMS filtering.\nconst filterFieldData = product.filter_field_data || {};\n\n// Plain text display fields (name, code formatted with pipe separators)\nconst attributeTextByType = product.attribute_text_by_type || {};\nconst attributeLinksByType = product.attribute_links_by_type || {};\nconst attributeLinks = product.attribute_links || [];\n\n// Helper: get pipe-separated display text for an attribute type\nconst getAttrText = (type) => attributeTextByType[type] || '';\n\n// Feed Direction - combine Feed Direction and Power Feed Type\nconst formatAttrPair = (a) => {\n  const label = a.display_label || a.attribute_name || '';\n  const code = a.attribute_code || '';\n  if (!label) return '';\n  return code ? `${label}, ${code}` : label;\n};\nconst feedDirectionPairs = (attributeLinksByType['Feed Direction'] || []).map(formatAttrPair).filter(v => v);\nconst powerFeedTypePairs = (attributeLinksByType['Power Feed Type'] || []).map(formatAttrPair).filter(v => v);\nconst allFeedDirectionText = [...new Set([...feedDirectionPairs, ...powerFeedTypePairs])].join(' | ');\n\n// LED Package\nconst ledPackageAttrs = attributeLinksByType['LED Package'] || [];\nconst fixtureTypes = ledPackageAttrs.map(formatAttrPair).filter(v => v).join(' | ');\n\n// ============================================\n// GALLERY IMAGES (Multi-image field)\n// ============================================\nconst rawGalleryImages = product.gallery_images || [];\nconst galleryImages = rawGalleryImages\n  .map(img => {\n    const imageUrl = makeAbsoluteUrl(img.image || img.url || img.file_url);\n    return {\n      url: imageUrl,\n      alt: img.alt_text || img.caption || product.product_name\n    };\n  })\n  .filter(img => isValidImageUrl(img.url));\n\n// ============================================\n// DOCUMENTS (JSON for file links)\n// ============================================\nconst documents = (product.documents || []).map(doc => ({\n  url: makeAbsoluteUrl(doc.document_file),\n  type: doc.document_type,\n  title: doc.document_title,\n  order: doc.display_order\n}));\n\n// ============================================\n// SPEC SHEET FILE (for Webflow file field)\n// ============================================\nconst specSheetDoc = (product.documents || []).find(doc => doc.document_type === 'Spec Sheet');\nconst specSheetUrl = specSheetDoc ? makeAbsoluteUrl(specSheetDoc.document_file) : null;\n\n// ============================================\n// CERTIFICATIONS\n// ============================================\nconst certifications = (product.certifications || []).map(c => ({\n  name: c.certification,\n  code: c.certification_details?.certification_code,\n  body: c.certification_details?.certification_body,\n  badge: makeAbsoluteUrl(c.certification_details?.badge_image)\n}));\n\n// ============================================\n// COMPATIBLE PRODUCTS\n// ============================================\nconst compatibleProducts = (product.compatible_products || []).map(cp => ({\n  product: cp.related_product,\n  type: cp.relationship_type,\n  notes: cp.notes\n}));\n\n// ============================================\n// CONFIGURATOR OPTIONS\n// ============================================\nconst configuratorOptions = (product.configurator_options || []).map(opt => ({\n  step: opt.option_step,\n  type: opt.option_type,\n  label: opt.option_label,\n  description: opt.option_description,\n  required: opt.is_required,\n  dependsOn: opt.depends_on_step,\n  allowedValues: opt.allowed_values_json\n}));\n\n// ============================================\n// KIT COMPONENTS\n// ============================================\nconst kitComponents = (product.kit_components || []).map(k => ({\n  type: k.component_type,\n  item: k.component_item,\n  specDoctype: k.component_spec_doctype,\n  specName: k.component_spec_name,\n  qty: k.quantity,\n  notes: k.notes\n}));\n\n// ============================================\n// LENGTH CONVERSIONS\n// ============================================\nconst mmToInches = (mm) => mm ? Math.round((mm / 25.4) * 100) / 100 : 0;\n\n// ============================================\n// BUILD FIELD DATA\n// ============================================\nconst fieldData = {\n  // Basic Info\n  \"name\": product.product_name,\n  \"product-type\": product.product_type,\n  \"short-description\": product.short_description || '',\n  \"subheading\": product.sublabel || '',\n  \"erp-sync-id\": product.product_slug,\n  \n  // Configurator Settings - NOTE: field is \"is-configurable-3\" in Webflow\n  \"is-configurable-3\": product.is_configurable === 1 || product.is_configurable === true,\n  \"configurator-intro\": product.configurator_intro_text || '',\n  \"min-length-mm\": product.min_length_mm || 0,\n  \"max-length-mm\": product.max_length_mm || 0,\n  \"min-length-inches\": mmToInches(product.min_length_mm),\n  \"max-length-inches\": mmToInches(product.max_length_mm),\n  \n  // Series Info (from linked series doctype)\n  \"series-display-name\": product.series || product.series_display_name || '',\n  \n  // Sync timestamp\n  \"last-synced\": new Date().toISOString(),\n  \n  // JSON data fields\n  \"specifications-json\": JSON.stringify(product.specifications || []),\n  \"attribute-links-json\": JSON.stringify(attributeLinks),\n  \"documents-json\": JSON.stringify(documents),\n  \"certifications-json\": JSON.stringify(certifications),\n  \"configurator-options-json\": JSON.stringify(configuratorOptions),\n  \"kit-components-json\": JSON.stringify(kitComponents),\n  \"compatible-products-json\": JSON.stringify(compatibleProducts),\n  // Features JSON\n  \"features-json\": product.features_json || \"[]\",\n  // Product Badge\n  \"product-badge\": product.product_badge || \"\",\n};\n\n// ============================================\n// CATEGORY REFERENCE (requires Webflow Item ID)\n// ============================================\nconst categoryWebflowId = product.category_webflow_item_id || product.product_category_webflow_item_id || (product.category_details && product.category_details.webflow_item_id);\nif (INCLUDE_CATEGORY_REF_FIELD && categoryWebflowId && /^[a-f0-9]{24}$/i.test(categoryWebflowId)) {\n  fieldData[\"category-filter\"] = categoryWebflowId;\n}\n\n// ============================================\n// PLAIN TEXT ATTRIBUTE FIELDS (existing, unchanged)\n// ============================================\n// These plain text fields remain for display purposes.\nif (INCLUDE_ATTRIBUTE_DISPLAY_FIELDS) {\nfieldData['finishes-5'] = getAttrText('Finish');\nfieldData['lens-options-5'] = getAttrText('Lens Appearance');\nfieldData['mounting-methods-5'] = getAttrText('Mounting Method');\nfieldData['cct-options-5'] = getAttrText('CCT');\nfieldData['output-levels-5'] = getAttrText('Output Level');\nfieldData['cris-5'] = getAttrText('CRI');\nfieldData['feed-directions-5'] = allFeedDirectionText;\nfieldData['environment-ratings-5'] = getAttrText('Environment Rating');\nfieldData['fixture-types-5'] = fixtureTypes;\n}\n\n// ============================================\n// PLAIN TEXT FILTER FIELDS (for Webflow CMS filtering)\n// ============================================\n// These fields (with '-filter' suffix) contain comma-separated attribute\n// names for Webflow CMS filtering. They are plain text, not multi-reference.\nif (INCLUDE_ATTRIBUTE_FILTER_FIELDS) {\nfor (const [slug, text] of Object.entries(filterFieldData)) {\n  if (text) {\n    fieldData[slug] = text;\n  }\n}\n}\n\n// Slug only on create\nif (!isUpdate) {\n  fieldData[\"slug\"] = product.product_slug;\n}\n\n// ============================================\n// BUILD WEBFLOW PAYLOAD\n// ============================================\nconst webflowData = {\n  isArchived: false,\n  isDraft: true,\n  fieldData: fieldData\n};\n\n// ============================================\n// IMAGE FIELDS\n// ============================================\nconst featuredImageUrl = makeAbsoluteUrl(product.featured_image);\nif (isValidImageUrl(featuredImageUrl)) {\n  webflowData.fieldData[\"featured-image\"] = { url: featuredImageUrl };\n}\n\nconst dimensionsImageUrl = makeAbsoluteUrl(product.dimensions_image);\nif (isValidImageUrl(dimensionsImageUrl)) {\n  webflowData.fieldData[\"dimensions\"] = { url: dimensionsImageUrl };\n}\n\nconst seriesFamilyImageUrl = makeAbsoluteUrl(product.series_family_image);\nif (isValidImageUrl(seriesFamilyImageUrl)) {\n  webflowData.fieldData[\"family-image\"] = { url: seriesFamilyImageUrl };\n}\n\nif (galleryImages.length > 0) {\n  webflowData.fieldData[\"gallery\"] = galleryImages;\n}\n\n// ============================================\n// SPEC SHEET FILE FIELD\n// ============================================\nif (specSheetUrl && isValidFileUrl(specSheetUrl)) {\n  webflowData.fieldData[\"spec-sheet\"] = { url: specSheetUrl };\n}\n\n// ============================================\n// RETURN FULL DATA\n// ============================================\nreturn {\n  json: {\n    webflowData,\n    originalProduct: product,\n    _debug: {\n      featuredImageUrl,\n      dimensionsImageUrl,\n      galleryImagesCount: galleryImages.length,\n      rawGalleryCount: rawGalleryImages.length,\n      rawGalleryImages: rawGalleryImages.slice(0, 3),\n      processedGalleryImages: galleryImages.slice(0, 3),\n      fixtureTypes: fixtureTypes,\n      ledPackageAttrs: ledPackageAttrs,\n      categoryWebflowId: categoryWebflowId,\n      productCategory: product.product_category,\n      categoryDetails: product.category_details,\n      specSheetUrl: specSheetUrl,\n      filterFieldData: filterFieldData,\n      filterSlugsUsed: Object.keys(filterFieldData).filter(s => filterFieldData[s])\n    }\n  }\n};"
      },
      "id": "ba5a85be-d170-463b-8303-6f83de82febd",
      "name": "Transform to Webflow Format",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        19168,
        5680
      ]
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 1
          },
          "conditions": [
            {
              "id": "check-has-webflow-id-for-update",
              "leftValue": "={{ $json.originalProduct.webflow_item_id }}",
              "rightValue": "",
              "operator": {
                "type": "string",
                "operation": "notEmpty"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "a7c14a9b-5d95-4204-a023-59a5ea23797d",
      "name": "Route Create or Update",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [
        19376,
        5680
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.webflow.com/v2/collections/696fc3c5c42c86528e97f413/items",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "webflowApi",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify($json.webflowData) }}",
        "options": {}
      },
      "id": "c25ff90f-9bbd-4f27-922b-3f64119e266e",
      "name": "Webflow: Create Product",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        19648,
        5760
      ],
      "credentials": {
        "httpHeaderAuth": {
          "id": "FzwOrMRItFSHynOa",
          "name": "Postmark Server Token"
        },
        "webflowApi": {
          "id": "mCXi79hdAwX6EWK8",
          "name": "Webflow account"
        }
      }
    },
    {
      "parameters": {
        "method": "PATCH",
        "url": "=https://api.webflow.com/v2/collections/696fc3c5c42c86528e97f413/items/{{ $json.originalProduct.webflow_item_id }}",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "webflowApi",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify($json.webflowData) }}",
        "options": {}
      },
      "id": "4331f946-05c5-440c-833d-0651a4bfc081",
      "name": "Webflow: Update Product",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        19648,
        5616
      ],
      "credentials": {
        "httpHeaderAuth": {
          "id": "FzwOrMRItFSHynOa",
          "name": "Postmark Server Token"
        },
        "webflowApi": {
          "id": "mCXi79hdAwX6EWK8",
          "name": "Webflow account"
        }
      }
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://illumenatelighting.v.frappe.cloud/api/method/illumenate_lighting.illumenate_lighting.api.webflow_export.mark_webflow_synced",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "erpNextApi",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"product_slug\": \"{{ $('Transform to Webflow Format').item.json.originalProduct.product_slug }}\",\n  \"webflow_item_id\": \"{{ $json.id }}\",\n  \"webflow_collection_slug\": \"products\"\n}",
        "options": {}
      },
      "id": "083d7f03-22ca-4b90-aae0-a59296a25c57",
      "name": "Mark Synced (New)",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        19904,
        5760
      ],
      "credentials": {
        "httpHeaderAuth": {
          "id": "FzwOrMRItFSHynOa",
          "name": "Postmark Server Token"
        },
        "erpNextApi": {
          "id": "q5FbtRYh73x4yYeZ",
          "name": "Webflow Marketing API"
        }
      }
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://illumenatelighting.v.frappe.cloud/api/method/illumenate_lighting.illumenate_lighting.api.webflow_export.mark_webflow_synced",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "erpNextApi",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"product_slug\": \"{{ $('Transform to Webflow Format').item.json.originalProduct.product_slug }}\",\n  \"webflow_item_id\": \"{{ $json.id }}\",\n  \"webflow_collection_slug\": \"products\"\n}",
        "options": {}
      },
      "id": "ad4d8596-b265-43be-8a0b-3a1745339f13",
      "name": "Mark Synced (Update)",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        19904,
        5616
      ],
      "credentials": {
        "httpHeaderAuth": {
          "id": "FzwOrMRItFSHynOa",
          "name": "Postmark Server Token"
        },
        "erpNextApi": {
          "id": "q5FbtRYh73x4yYeZ",
          "name": "Webflow Marketing API"
        }
      }
    },
    {
      "parameters": {
        "content": "## ERPNext → Webflow Product Sync\n\n### Credentials Required:\n\n1. **ERPNext API Key** (Header Auth):\n   - Name: `Authorization`\n   - Value: `token YOUR_API_KEY:YOUR_API_SECRET`\n\n2. **Webflow API Token** (Header Auth):\n   - Name: `Authorization`\n   - Value: `Bearer YOUR_WEBFLOW_TOKEN`\n\n### URLs Configured:\n- ERPNext: https://illumenatelighting.v.frappe.cloud\n- Products Collection: 696fc3c5c42c86528e97f413\n\n### Customize Transform Node:\n- Edit the Code node to map your specific fields",
        "height": 380,
        "width": 350
      },
      "id": "aadad31d-c704-4270-94ac-213f9abfbeca",
      "name": "Setup Instructions",
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        17664,
        5568
      ]
    },
    {
      "parameters": {
        "content": "## Error Handling\n\nAdd error handling nodes here to call:\n`mark_webflow_error`\n\nwhen Webflow API fails",
        "height": 120,
        "width": 200
      },
      "id": "f55d1ebb-91e5-4f17-b8b7-14528304893c",
      "name": "Error Handling Note",
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        19552,
        5888
      ]
    }
  ],
  "pinData": {},
  "connections": {
    "Manual Trigger": {
      "main": [
        [
          {
            "node": "Fetch Products from ERPNext",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Fetch Products from ERPNext": {
      "main": [
        [
          {
            "node": "Has Products to Sync?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Has Products to Sync?": {
      "main": [
        [
          {
            "node": "Split Products",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Split Products": {
      "main": [
        [
          {
            "node": "Exists in Webflow?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Exists in Webflow?": {
      "main": [
        [
          {
            "node": "Transform to Webflow Format",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Transform to Webflow Format",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Transform to Webflow Format": {
      "main": [
        [
          {
            "node": "Route Create or Update",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Route Create or Update": {
      "main": [
        [
          {
            "node": "Webflow: Update Product",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Webflow: Create Product",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Webflow: Create Product": {
      "main": [
        [
          {
            "node": "Mark Synced (New)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Webflow: Update Product": {
      "main": [
        [
          {
            "node": "Mark Synced (Update)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": true,
  "settings": {
    "executionOrder": "v1",
    "availableInMCP": false,
    "timeSavedMode": "fixed",
    "errorWorkflow": "F8xpXukhJCEj3mX5",
    "callerPolicy": "workflowsFromSameOwner",
    "binaryMode": "separate"
  },
  "versionId": "f8dde3d7-50dc-4f37-9a51-3771bc3d6864",
  "meta": {
    "instanceId": "c1a1e1e0c39c1bcb438c87c63caca12bd10974841f70040ef603579cc3e4fbbe"
  },
  "id": "ZtlBOCwjGdW73DRe",
  "tags": [
    {
      "updatedAt": "2026-01-26T17:38:40.788Z",
      "createdAt": "2026-01-26T17:38:40.788Z",
      "id": "DLPfQ7vgtpiNEizT",
      "name": "webflow"
    },
    {
      "updatedAt": "2026-01-26T17:38:40.816Z",
      "createdAt": "2026-01-26T17:38:40.816Z",
      "id": "MpNoV6CzBusgjZvC",
      "name": "erpnext"
    }
  ]
}
