n8n_workflows/webflow_category_sync.json
{
  "name": "ERPNext → Webflow Category Sync",
  "nodes": [
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "hours",
              "hoursInterval": 6
            }
          ]
        }
      },
      "id": "schedule-trigger",
      "name": "Every 6 Hours",
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.2,
      "position": [
        0,
        0
      ]
    },
    {
      "parameters": {},
      "id": "manual-trigger",
      "name": "Manual Trigger",
      "type": "n8n-nodes-base.manualTrigger",
      "typeVersion": 1,
      "position": [
        0,
        150
      ]
    },
    {
      "parameters": {
        "method": "GET",
        "url": "https://illumenatelighting.v.frappe.cloud/api/method/illumenate_lighting.illumenate_lighting.api.webflow_export.get_webflow_categories",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendQuery": true,
        "queryParameters": {
          "parameters": [
            {
              "name": "sync_status",
              "value": "needs_sync"
            },
            {
              "name": "brand",
              "value": "={{ $('Set Brand').item.json.brand }}"
            }
          ]
        },
        "options": {}
      },
      "id": "fetch-categories",
      "name": "Fetch Categories from ERPNext",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        250,
        75
      ],
      "credentials": {
        "httpHeaderAuth": {
          "id": "erpnext-api-key",
          "name": "ERPNext API Key"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict"
          },
          "conditions": [
            {
              "id": "check-has-categories",
              "leftValue": "={{ $json.message.total }}",
              "rightValue": 0,
              "operator": {
                "type": "number",
                "operation": "gt"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "has-categories",
      "name": "Has Categories to Sync?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [
        475,
        75
      ]
    },
    {
      "parameters": {
        "fieldToSplitOut": "message.all_categories",
        "options": {}
      },
      "id": "split-categories",
      "name": "Split Categories",
      "type": "n8n-nodes-base.splitOut",
      "typeVersion": 1,
      "position": [
        700,
        0
      ]
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "loose"
          },
          "conditions": [
            {
              "id": "check-has-webflow-id",
              "leftValue": "={{ $json.webflow_item_id }}",
              "rightValue": "",
              "operator": {
                "type": "string",
                "operation": "notEmpty"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "exists-in-webflow",
      "name": "Exists in Webflow?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [
        925,
        0
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "=https://api.webflow.com/v2/collections/{{ $('Get Brand Config').item.json.message.categories_collection_id }}/items",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"isArchived\": false,\n  \"isDraft\": false,\n  \"fieldData\": {\n    \"name\": \"{{ $json.category_name }}\",\n    \"slug\": \"{{ $json.category_slug }}\",\n    \"display-order\": {{ $json.display_order || 0 }}\n  }\n}",
        "options": {}
      },
      "id": "webflow-create",
      "name": "Webflow: Create Category",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        1175,
        -75
      ],
      "credentials": {
        "httpHeaderAuth": {
          "id": "webflow-api-token",
          "name": "Webflow API Token"
        }
      }
    },
    {
      "parameters": {
        "method": "PATCH",
        "url": "=https://api.webflow.com/v2/collections/{{ $('Get Brand Config').item.json.message.categories_collection_id }}/items/{{ $json.webflow_item_id }}",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"isArchived\": false,\n  \"isDraft\": false,\n  \"fieldData\": {\n    \"name\": \"{{ $json.category_name }}\",\n    \"slug\": \"{{ $json.category_slug }}\",\n    \"display-order\": {{ $json.display_order || 0 }}\n  }\n}",
        "options": {}
      },
      "id": "webflow-update",
      "name": "Webflow: Update Category",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        1175,
        75
      ],
      "credentials": {
        "httpHeaderAuth": {
          "id": "webflow-api-token",
          "name": "Webflow API Token"
        }
      }
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://illumenatelighting.v.frappe.cloud/api/method/illumenate_lighting.illumenate_lighting.api.webflow_export.mark_category_synced",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"category_slug\": \"{{ $('Split Categories').item.json.category_slug }}\",\n  \"webflow_item_id\": \"{{ $json.id }}\",\n  \"brand\": \"{{ $('Set Brand').item.json.brand }}\"\n}",
        "options": {}
      },
      "id": "mark-synced-new",
      "name": "Mark Synced (New)",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        1425,
        -75
      ],
      "credentials": {
        "httpHeaderAuth": {
          "id": "erpnext-api-key",
          "name": "ERPNext API Key"
        }
      }
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://illumenatelighting.v.frappe.cloud/api/method/illumenate_lighting.illumenate_lighting.api.webflow_export.mark_category_synced",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"category_slug\": \"{{ $('Split Categories').item.json.category_slug }}\",\n  \"webflow_item_id\": \"{{ $json.id }}\",\n  \"brand\": \"{{ $('Set Brand').item.json.brand }}\"\n}",
        "options": {}
      },
      "id": "mark-synced-update",
      "name": "Mark Synced (Update)",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        1425,
        75
      ],
      "credentials": {
        "httpHeaderAuth": {
          "id": "erpnext-api-key",
          "name": "ERPNext API Key"
        }
      }
    },
    {
      "parameters": {
        "content": "## ERPNext → Webflow Category Sync\n\n### Credentials Required:\n\n1. **ERPNext API Key** (Header Auth):\n   - Name: `Authorization`\n   - Value: `token YOUR_API_KEY:YOUR_API_SECRET`\n\n2. **Webflow API Token** (Header Auth):\n   - Name: `Authorization`\n   - Value: `Bearer YOUR_WEBFLOW_TOKEN`\n\n### URLs Configured:\n- ERPNext: https://illumenatelighting.v.frappe.cloud\n- Categories Collection: 697105f368b2ba752d0651b8",
        "height": 380,
        "width": 320
      },
      "id": "sticky-note",
      "name": "Setup Instructions",
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        -300,
        -100
      ]
    },
    {
      "parameters": {
        "content": "## No Categories to Sync\n\nAll categories are already synced!",
        "height": 100,
        "width": 200
      },
      "id": "no-sync-note",
      "name": "No Sync Needed",
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        700,
        150
      ]
    },
    {
      "parameters": {
        "values": {
          "string": [
            {
              "name": "brand",
              "value": "illumenate"
            }
          ]
        },
        "options": {}
      },
      "id": "ill-set-brand-node",
      "name": "Set Brand",
      "type": "n8n-nodes-base.set",
      "typeVersion": 1,
      "position": [
        17760,
        5824
      ]
    },
    {
      "parameters": {
        "url": "https://illumenatelighting.v.frappe.cloud/api/method/illumenate_lighting.illumenate_lighting.api.webflow_brand.get_brand_config",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "erpNextApi",
        "sendQuery": true,
        "queryParameters": {
          "parameters": [
            {
              "name": "brand",
              "value": "={{ $json.brand }}"
            }
          ]
        },
        "options": {}
      },
      "id": "ill-get-brand-config-node",
      "name": "Get Brand Config",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        17968,
        5824
      ],
      "credentials": {
        "erpNextApi": {
          "id": "q5FbtRYh73x4yYeZ",
          "name": "Webflow Marketing API"
        }
      }
    },
    {
      "parameters": {
        "content": "## Multi-brand setup\n\n**Brand:** Set in the 'Set Brand' node (default illumenate).\n\nCollection IDs and credentials are resolved per-brand via the 'Get Brand Config' HTTP node calling webflow_brand.get_brand_config.\n\n**To run for lighting_206:**\n1. Edit 'Set Brand' â \brand = lighting_206, OR clone the workflow and change the value there.\n2. Swap the credential on the Webflow HTTP nodes to the brand-specific credential (e.g. webflow-lighting_206). Expression-driven credentials are not supported on this node type â manual swap or workflow-clone is required.\n3. The configurator payload is auto-stripped server-side when include_configurator_payload=0 on the brand record. The product Transform node also has a defense-in-depth guard.\n",
        "height": 380,
        "width": 350
      },
      "id": "ill-multibrand-sticky",
      "name": "Multi-Brand Setup Notes",
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        17280,
        5568
      ]
    }
  ],
  "connections": {
    "Every 6 Hours": {
      "main": [
        [
          {
            "node": "Set Brand",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Manual Trigger": {
      "main": [
        [
          {
            "node": "Set Brand",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Set Brand": {
      "main": [
        [
          {
            "node": "Get Brand Config",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get Brand Config": {
      "main": [
        [
          {
            "node": "Fetch Categories from ERPNext",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Fetch Categories from ERPNext": {
      "main": [
        [
          {
            "node": "Has Categories to Sync?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Has Categories to Sync?": {
      "main": [
        [
          {
            "node": "Split Categories",
            "type": "main",
            "index": 0
          }
        ],
        []
      ]
    },
    "Split Categories": {
      "main": [
        [
          {
            "node": "Exists in Webflow?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Exists in Webflow?": {
      "main": [
        [
          {
            "node": "Webflow: Update Category",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Webflow: Create Category",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Webflow: Create Category": {
      "main": [
        [
          {
            "node": "Mark Synced (New)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Webflow: Update Category": {
      "main": [
        [
          {
            "node": "Mark Synced (Update)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "pinData": {},
  "settings": {
    "executionOrder": "v1"
  },
  "staticData": null,
  "tags": [
    {
      "name": "webflow",
      "createdAt": "2026-01-26T00:00:00.000Z",
      "updatedAt": "2026-01-26T00:00:00.000Z"
    },
    {
      "name": "erpnext",
      "createdAt": "2026-01-26T00:00:00.000Z",
      "updatedAt": "2026-01-26T00:00:00.000Z"
    }
  ],
  "triggerCount": 0,
  "updatedAt": "2026-01-26T00:00:00.000Z",
  "versionId": "1"
}