n8n_workflows/webflow_product_sync.json
{
  "name": "ERPNext \u2192 Webflow Product Sync",
  "nodes": [
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "hours",
              "hoursInterval": 6
            }
          ]
        }
      },
      "id": "schedule-trigger",
      "name": "Every 6 Hours",
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.2,
      "position": [
        0,
        0
      ]
    },
    {
      "parameters": {},
      "id": "manual-trigger",
      "name": "Manual Trigger",
      "type": "n8n-nodes-base.manualTrigger",
      "typeVersion": 1,
      "position": [
        0,
        150
      ]
    },
    {
      "parameters": {
        "method": "GET",
        "url": "https://illumenatelighting.v.frappe.cloud/api/method/illumenate_lighting.illumenate_lighting.api.webflow_export.get_webflow_products",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendQuery": true,
        "queryParameters": {
          "parameters": [
            {
              "name": "sync_status",
              "value": "needs_sync"
            },
            {
              "name": "limit",
              "value": "50"
            },
            {
              "name": "include_child_tables",
              "value": "true"
            }
          ]
        },
        "options": {}
      },
      "id": "fetch-products",
      "name": "Fetch Products from ERPNext",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        250,
        75
      ],
      "credentials": {
        "httpHeaderAuth": {
          "id": "erpnext-api-key",
          "name": "ERPNext API Key"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict"
          },
          "conditions": [
            {
              "id": "check-has-products",
              "leftValue": "={{ $json.message.total }}",
              "rightValue": 0,
              "operator": {
                "type": "number",
                "operation": "gt"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "has-products",
      "name": "Has Products to Sync?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [
        475,
        75
      ]
    },
    {
      "parameters": {
        "fieldToSplitOut": "message.products",
        "options": {}
      },
      "id": "split-products",
      "name": "Split Products",
      "type": "n8n-nodes-base.splitOut",
      "typeVersion": 1,
      "position": [
        700,
        0
      ]
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "loose"
          },
          "conditions": [
            {
              "id": "check-has-webflow-id",
              "leftValue": "={{ $json.webflow_item_id }}",
              "rightValue": "",
              "operator": {
                "type": "string",
                "operation": "notEmpty"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "exists-in-webflow",
      "name": "Exists in Webflow?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [
        925,
        0
      ]
    },
    {
      "parameters": {
        "jsCode": "// Transform ERPNext product to Webflow format - FULL DATA SYNC\nconst product = $input.item.json;\nconst isUpdate = product.webflow_item_id ? true : false;\n\n// ============================================\n// URL HELPERS\n// ============================================\nconst ERPNEXT_BASE_URL = 'https://illumenatelighting.v.frappe.cloud';\n\nconst makeAbsoluteUrl = (url) => {\n  if (!url) return null;\n  if (url.startsWith('http://') || url.startsWith('https://')) return url;\n  const fullUrl = url.startsWith('/') ? `${ERPNEXT_BASE_URL}${url}` : `${ERPNEXT_BASE_URL}/${url}`;\n  // Encode spaces and special characters in the path\n  return fullUrl.replace(/ /g, '%20');\n};\n\n// Fix all image URLs in HTML content (for rich text fields)\nconst fixHtmlImageUrls = (html) => {\n  if (!html) return '';\n  \n  let fixed = html.replace(/src=\"\\/files\\//g, `src=\"${ERPNEXT_BASE_URL}/files/`);\n  fixed = fixed.replace(/<img[^>]*src=\"\\/private\\/[^\"]*\"[^>]*>/gi, '[Private image removed]');\n  fixed = fixed.replace(/src='\\/files\\//g, `src='${ERPNEXT_BASE_URL}/files/`);\n  fixed = fixed.replace(/<img[^>]*src='\\/private\\/[^']*'[^>]*>/gi, '[Private image removed]');\n  fixed = fixed.replace(/src=\"\\/(?!\\/)/g, `src=\"${ERPNEXT_BASE_URL}/`);\n  fixed = fixed.replace(/src='\\/(?!\\/)/g, `src='${ERPNEXT_BASE_URL}/`);\n  \n  return fixed;\n};\n\nconst isValidImageUrl = (url) => {\n  if (!url) return false;\n  if (url.includes('/private/')) return false;\n  if (!url.startsWith('http://') && !url.startsWith('https://')) return false;\n  return true;\n};\n\nconst isValidFileUrl = (url) => {\n  if (!url) return false;\n  if (url.includes('/private/')) return false;\n  return true;\n};\n\n// ============================================\n// ATTRIBUTE FILTER FIELDS\n// ============================================\n// ERPNext provides pre-built plain-text filter data via filter_field_data.\n// Filter fields contain comma-separated attribute names for Webflow CMS filtering.\nconst filterFieldData = product.filter_field_data || {};\n\n// Plain text display fields (name, code formatted with pipe separators)\nconst attributeTextByType = product.attribute_text_by_type || {};\nconst attributeLinksByType = product.attribute_links_by_type || {};\nconst attributeLinks = product.attribute_links || [];\n\n// Helper: get pipe-separated display text for an attribute type\nconst getAttrText = (type) => attributeTextByType[type] || '';\n\n// Feed Direction - combine Feed Direction and Power Feed Type\nconst formatAttrPair = (a) => {\n  const label = a.display_label || a.attribute_name || '';\n  const code = a.attribute_code || '';\n  if (!label) return '';\n  return code ? `${label}, ${code}` : label;\n};\nconst feedDirectionPairs = (attributeLinksByType['Feed Direction'] || []).map(formatAttrPair).filter(v => v);\nconst powerFeedTypePairs = (attributeLinksByType['Power Feed Type'] || []).map(formatAttrPair).filter(v => v);\nconst allFeedDirectionText = [...new Set([...feedDirectionPairs, ...powerFeedTypePairs])].join(' | ');\n\n// LED Package\nconst ledPackageAttrs = attributeLinksByType['LED Package'] || [];\nconst fixtureTypes = ledPackageAttrs.map(formatAttrPair).filter(v => v).join(' | ');\n\n// ============================================\n// GALLERY IMAGES (Multi-image field)\n// ============================================\nconst rawGalleryImages = product.gallery_images || [];\nconst galleryImages = rawGalleryImages\n  .map(img => {\n    const imageUrl = makeAbsoluteUrl(img.image || img.url || img.file_url);\n    return {\n      url: imageUrl,\n      alt: img.alt_text || img.caption || product.product_name\n    };\n  })\n  .filter(img => isValidImageUrl(img.url));\n\n// ============================================\n// DOCUMENTS (JSON for file links)\n// ============================================\nconst documents = (product.documents || []).map(doc => ({\n  url: makeAbsoluteUrl(doc.document_file),\n  type: doc.document_type,\n  title: doc.document_title,\n  order: doc.display_order\n}));\n\n// ============================================\n// SPEC SHEET FILE (for Webflow file field)\n// ============================================\nconst specSheetDoc = (product.documents || []).find(doc => doc.document_type === 'Spec Sheet');\nconst specSheetUrl = specSheetDoc ? makeAbsoluteUrl(specSheetDoc.document_file) : null;\n\n// ============================================\n// CERTIFICATIONS\n// ============================================\nconst certifications = (product.certifications || []).map(c => ({\n  name: c.certification,\n  code: c.certification_details?.certification_code,\n  body: c.certification_details?.certification_body,\n  badge: makeAbsoluteUrl(c.certification_details?.badge_image)\n}));\n\n// ============================================\n// COMPATIBLE PRODUCTS\n// ============================================\nconst compatibleProducts = (product.compatible_products || []).map(cp => ({\n  product: cp.related_product,\n  type: cp.relationship_type,\n  notes: cp.notes\n}));\n\n// ============================================\n// CONFIGURATOR OPTIONS\n// ============================================\nconst configuratorOptions = (product.configurator_options || []).map(opt => ({\n  step: opt.option_step,\n  type: opt.option_type,\n  label: opt.option_label,\n  description: opt.option_description,\n  required: opt.is_required,\n  dependsOn: opt.depends_on_step,\n  allowedValues: opt.allowed_values_json\n}));\n\n// ============================================\n// KIT COMPONENTS\n// ============================================\nconst kitComponents = (product.kit_components || []).map(k => ({\n  type: k.component_type,\n  item: k.component_item,\n  specDoctype: k.component_spec_doctype,\n  specName: k.component_spec_name,\n  qty: k.quantity,\n  notes: k.notes\n}));\n\n// ============================================\n// LENGTH CONVERSIONS\n// ============================================\nconst mmToInches = (mm) => mm ? Math.round((mm / 25.4) * 100) / 100 : 0;\n\n// ============================================\n// BUILD FIELD DATA\n// ============================================\nconst fieldData = {\n  // Basic Info\n  \"name\": product.product_name,\n  \"product-type\": product.product_type,\n  \"short-description\": product.short_description || '',\n  \"long-description\": fixHtmlImageUrls(product.long_description || ''),\n  \"erp-sync-id\": product.product_slug,\n  \n  // Configurator Settings - NOTE: field is \"is-configurable-3\" in Webflow\n  \"is-configurable-3\": product.is_configurable === 1 || product.is_configurable === true,\n  \"configurator-intro\": product.configurator_intro_text || '',\n  \"min-length-mm\": product.min_length_mm || 0,\n  \"max-length-mm\": product.max_length_mm || 0,\n  \"min-length-inches\": mmToInches(product.min_length_mm),\n  \"max-length-inches\": mmToInches(product.max_length_mm),\n  \n  // Series Info (from linked series doctype)\n  \"series-display-name\": product.series || product.series_display_name || '',\n  \n  // Sync timestamp\n  \"last-synced\": new Date().toISOString(),\n  \n  // JSON data fields\n  \"specifications-json\": JSON.stringify(product.specifications || []),\n  \"attribute-links-json\": JSON.stringify(attributeLinks),\n  \"documents-json\": JSON.stringify(documents),\n  \"certifications-json\": JSON.stringify(certifications),\n  \"configurator-options-json\": JSON.stringify(configuratorOptions),\n  \"kit-components-json\": JSON.stringify(kitComponents),\n  \"compatible-products-json\": JSON.stringify(compatibleProducts),\n};\n\n// ============================================\n// CATEGORY REFERENCE (requires Webflow Item ID)\n// ============================================\nconst categoryWebflowId = product.category_webflow_item_id || product.product_category_webflow_item_id || (product.category_details && product.category_details.webflow_item_id);\n// TEMPORARILY DISABLED: category references are stale after Webflow field migration.\n// Re-enable once categories have been re-synced to Webflow.\n// if (categoryWebflowId && /^[a-f0-9]{24}$/i.test(categoryWebflowId)) {\n//   fieldData[\"category\"] = categoryWebflowId;\n// }\n\n// ============================================\n// PLAIN TEXT ATTRIBUTE FIELDS (existing, unchanged)\n// ============================================\n// These plain text fields remain for display purposes.\nfieldData['finishes-5'] = getAttrText('Finish');\nfieldData['lens-options-5'] = getAttrText('Lens Appearance');\nfieldData['mounting-methods-5'] = getAttrText('Mounting Method');\nfieldData['cct-options-5'] = getAttrText('CCT');\nfieldData['output-levels-5'] = getAttrText('Output Level');\nfieldData['cris-5'] = getAttrText('CRI');\nfieldData['feed-directions-5'] = allFeedDirectionText;\nfieldData['environment-ratings-5'] = getAttrText('Environment Rating');\nfieldData['fixture-types-5'] = fixtureTypes;\n\n// ============================================\n// PLAIN TEXT FILTER FIELDS (for Webflow CMS filtering)\n// ============================================\n// These fields (with '-filter' suffix) contain comma-separated attribute\n// names for Webflow CMS filtering. They are plain text, not multi-reference.\nfor (const [slug, text] of Object.entries(filterFieldData)) {\n  if (text) {\n    fieldData[slug] = text;\n  }\n}\n\n// Slug only on create\nif (!isUpdate) {\n  fieldData[\"slug\"] = product.product_slug;\n}\n\n// ============================================\n// BUILD WEBFLOW PAYLOAD\n// ============================================\nconst webflowData = {\n  isArchived: false,\n  isDraft: false,\n  fieldData: fieldData\n};\n\n// ============================================\n// IMAGE FIELDS\n// ============================================\nconst featuredImageUrl = makeAbsoluteUrl(product.featured_image);\nif (isValidImageUrl(featuredImageUrl)) {\n  webflowData.fieldData[\"featured-image\"] = { url: featuredImageUrl };\n}\n\nif (galleryImages.length > 0) {\n  webflowData.fieldData[\"gallery\"] = galleryImages;\n}\n\n// ============================================\n// SPEC SHEET FILE FIELD\n// ============================================\nif (specSheetUrl && isValidFileUrl(specSheetUrl)) {\n  webflowData.fieldData[\"spec-sheet\"] = { url: specSheetUrl };\n}\n\n// ============================================\n// RETURN FULL DATA\n// ============================================\nreturn {\n  json: {\n    webflowData,\n    originalProduct: product,\n    _debug: {\n      featuredImageUrl,\n      galleryImagesCount: galleryImages.length,\n      rawGalleryCount: rawGalleryImages.length,\n      rawGalleryImages: rawGalleryImages.slice(0, 3),\n      processedGalleryImages: galleryImages.slice(0, 3),\n      fixtureTypes: fixtureTypes,\n      ledPackageAttrs: ledPackageAttrs,\n      categoryWebflowId: categoryWebflowId,\n      productCategory: product.product_category,\n      categoryDetails: product.category_details,\n      specSheetUrl: specSheetUrl,\n      filterFieldData: filterFieldData,\n      filterSlugsUsed: Object.keys(filterFieldData).filter(s => filterFieldData[s])\n    }\n  }\n};"
      },
      "id": "transform-product",
      "name": "Transform to Webflow Format",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1150,
        0
      ]
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "loose"
          },
          "conditions": [
            {
              "id": "check-has-webflow-id-for-update",
              "leftValue": "={{ $json.originalProduct.webflow_item_id }}",
              "rightValue": "",
              "operator": {
                "type": "string",
                "operation": "notEmpty"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "route-create-update",
      "name": "Route Create or Update",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [
        1275,
        0
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.webflow.com/v2/collections/696fc3c5c42c86528e97f413/items",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify($json.webflowData) }}",
        "options": {}
      },
      "id": "webflow-create",
      "name": "Webflow: Create Product",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        1500,
        75
      ],
      "credentials": {
        "httpHeaderAuth": {
          "id": "webflow-api-token",
          "name": "Webflow API Token"
        }
      }
    },
    {
      "parameters": {
        "method": "PATCH",
        "url": "=https://api.webflow.com/v2/collections/696fc3c5c42c86528e97f413/items/{{ $json.originalProduct.webflow_item_id }}",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify($json.webflowData) }}",
        "options": {}
      },
      "id": "webflow-update",
      "name": "Webflow: Update Product",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        1500,
        -75
      ],
      "credentials": {
        "httpHeaderAuth": {
          "id": "webflow-api-token",
          "name": "Webflow API Token"
        }
      }
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://illumenatelighting.v.frappe.cloud/api/method/illumenate_lighting.illumenate_lighting.api.webflow_export.mark_webflow_synced",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"product_slug\": \"{{ $('Transform to Webflow Format').item.json.originalProduct.product_slug }}\",\n  \"webflow_item_id\": \"{{ $json.id }}\",\n  \"webflow_collection_slug\": \"products\"\n}",
        "options": {}
      },
      "id": "mark-synced-new",
      "name": "Mark Synced (New)",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        1750,
        75
      ],
      "credentials": {
        "httpHeaderAuth": {
          "id": "erpnext-api-key",
          "name": "ERPNext API Key"
        }
      }
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://illumenatelighting.v.frappe.cloud/api/method/illumenate_lighting.illumenate_lighting.api.webflow_export.mark_webflow_synced",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"product_slug\": \"{{ $('Transform to Webflow Format').item.json.originalProduct.product_slug }}\",\n  \"webflow_item_id\": \"{{ $json.id }}\",\n  \"webflow_collection_slug\": \"products\"\n}",
        "options": {}
      },
      "id": "mark-synced-update",
      "name": "Mark Synced (Update)",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        1750,
        -75
      ],
      "credentials": {
        "httpHeaderAuth": {
          "id": "erpnext-api-key",
          "name": "ERPNext API Key"
        }
      }
    },
    {
      "parameters": {
        "content": "## ERPNext \u2192 Webflow Product Sync\n\n### Credentials Required:\n\n1. **ERPNext API Key** (Header Auth):\n   - Name: `Authorization`\n   - Value: `token YOUR_API_KEY:YOUR_API_SECRET`\n\n2. **Webflow API Token** (Header Auth):\n   - Name: `Authorization`\n   - Value: `Bearer YOUR_WEBFLOW_TOKEN`\n\n### URLs Configured:\n- ERPNext: https://illumenatelighting.v.frappe.cloud\n- Products Collection: 696fc3c5c42c86528e97f413\n\n### Customize Transform Node:\n- Edit the Code node to map your specific fields",
        "height": 380,
        "width": 350
      },
      "id": "sticky-note",
      "name": "Setup Instructions",
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        -350,
        -100
      ]
    },
    {
      "parameters": {
        "content": "## Error Handling\n\nAdd error handling nodes here to call:\n`mark_webflow_error`\n\nwhen Webflow API fails",
        "height": 120,
        "width": 200
      },
      "id": "error-note",
      "name": "Error Handling Note",
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        1400,
        200
      ]
    }
  ],
  "connections": {
    "Every 6 Hours": {
      "main": [
        [
          {
            "node": "Fetch Products from ERPNext",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Manual Trigger": {
      "main": [
        [
          {
            "node": "Fetch Products from ERPNext",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Fetch Products from ERPNext": {
      "main": [
        [
          {
            "node": "Has Products to Sync?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Has Products to Sync?": {
      "main": [
        [
          {
            "node": "Split Products",
            "type": "main",
            "index": 0
          }
        ],
        []
      ]
    },
    "Split Products": {
      "main": [
        [
          {
            "node": "Exists in Webflow?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Exists in Webflow?": {
      "main": [
        [
          {
            "node": "Transform to Webflow Format",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Transform to Webflow Format",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Transform to Webflow Format": {
      "main": [
        [
          {
            "node": "Route Create or Update",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Route Create or Update": {
      "main": [
        [
          {
            "node": "Webflow: Update Product",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Webflow: Create Product",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Webflow: Create Product": {
      "main": [
        [
          {
            "node": "Mark Synced (New)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Webflow: Update Product": {
      "main": [
        [
          {
            "node": "Mark Synced (Update)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "pinData": {},
  "settings": {
    "executionOrder": "v1"
  },
  "staticData": null,
  "tags": [
    {
      "name": "webflow",
      "createdAt": "2026-01-26T00:00:00.000Z",
      "updatedAt": "2026-01-26T00:00:00.000Z"
    },
    {
      "name": "erpnext",
      "createdAt": "2026-01-26T00:00:00.000Z",
      "updatedAt": "2026-01-26T00:00:00.000Z"
    }
  ],
  "triggerCount": 0,
  "updatedAt": "2026-01-26T00:00:00.000Z",
  "versionId": "1"
}